@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
  font-family: 'Kalam', cursive;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
}

.heading {
  color: #333;
  font-size: 3.5rem;
  padding: 1rem;
  padding-top: 6rem;
  text-align: center;
  letter-spacing: .2rem;
}

.heading span {
  color: #0098a1;
}

header {
  width: 96%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: .5rem;
  box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
  padding: .3rem 2rem;
  transition: .2s linear;
  z-index: 1000;
}

.header-active {
  top: 0;
  width: 100%;
  border-radius: 0;
}

header .logo h3 {
  color: #333;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 0.1em;
  font-family: 'Pattaya', sans-serif;
}

header .logo span {
  letter-spacing: 0.1em;
  letter-spacing: 0.1em;
  color: orangered;
  font-size: 45px;
  font-family: 'Pattaya', sans-serif;
}

#header-img {
  width: 100px;
  height: auto;
  position: absolute;
  top: -1vh;
  left: 10vw;
}

header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header .navbar ul li {
  margin: 0 1rem;
}

header .navbar ul li a {
  font-size: 2.2rem;
  color: #333;
  transition: .2s linear;
}


header .navbar ul li a:hover {
  color: #0098a1;
  text-decoration: underline;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  padding: 2rem 10rem;
}

.home .video-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.home .content {
  margin-top: 7rem;
}

.home .content h1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 100px;
  font-size: 4.1vw;
  color: #fff;
  text-shadow: 0 .3rem .5rem #000;
}


.home .content .typing {
  color: orangered;
  font-size: 53px;
  border-right: .15em solid orangered;
  height: 10vh;
  max-width: fit-content;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation:
    typing 2.5s steps(22, end) infinite,
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: none;
  }
}

.home .content p {
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: 35px;
  font-size: 1.5vw;
  color: #eee;
  text-shadow: 0 .3rem .5rem #000;
  padding-left: 2rem;
}

.about {
  min-height: 100vh;
}

.about .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.about .row .image img {
  position: inherit;
  height: 65vh;
  width: 50vw;
}

.about .row .content h3 {
  font-size: 4rem;
  color: #0098a1;
}

.about .row .content p {
  font-size: 1.9rem;
  color: #333;
}

.about .row .content .btn {
  outline: none;
  border: none;
  cursor: pointer;
  transition: .2s linear;
  height: 4rem;
  width: 18rem;
  margin-top: 1rem;
  color: #fff;
  background: #0098a1;
  font-size: 2rem;
}

.about .row .content .btn1,
.about .row .content .btn:hover {
  background: none;
  color: #0098a1;
  border: .2rem solid #0098a1;
  margin-right: 1rem;
}

/* .gallery{
  min-width: 100%;
  min-height: 100%;
}

.gallery .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:0 auto;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.gallery .box-container .box{
  height:40rem;
  width:50rem;
  margin:2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.gallery .box-container .box img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
 */
/*gallery starts here*/
.gallery {
  min-width: 100%;
  min-height: 100%;
}

.gallery .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.gallery .box-container .box {
  height: 20rem;
  width: 30rem;
  margin: 2rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.gallery .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .modal {
  z-index: 1;
  display: none;
  padding-top: 10px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8)
}

.gallery .box-container .modal .modal-content {
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.gallery .box-container .modal-hover-opacity {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-backface-visibility: hidden
}

.gallery .box-container .modal-hover-opacity:hover {
  opacity: 0.60;
  filter: alpha(opacity=60);
  -webkit-backface-visibility: hidden
}


.gallery .box-container .modal .close {
  text-decoration: none;
  float: right;
  font-size: 24px;
  font-weight: bold;
  color: white
}

.gallery .box-container .modal .modal-content,
#caption {

  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}


/* .gallery .box-container .overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  align-items: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;
}

.gallery .box-container .overlay img{
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  transform: scale(0.95);
  transition: transform .3s;
}

.gallery .box-container .overlay:target {
  visibility: visible;
  outline: none;
  cursor: default;
}

.gallery .box-container .overlay:target img {
    transform: scale(1);
} */
/*gallery ends here*/

/*review section*/
.review {
  background: url(../images/review-bg.jpg), linear-gradient(#0098a1, #0098a1) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.review .heading {
  color: #fff;
  padding-bottom: 4rem;
}

.review .heading span {
  color: gold;
}

.review .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.review .box-container .box {
  width: 35rem;
  margin: 4rem 2rem;
  padding-bottom: 2rem;
  text-align: center;
  box-shadow: 0 .3rem .5rem #000;
  background: #fff;
}

.review .box-container .box .image {
  margin-top: -5rem;
}

.review .box-container .box .image img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  border: .7rem solid #fff;
}

.review .box-container .box .content h3 {
  font-size: 2rem;
  color: #0098a1;
}

.review .box-container .box .content p {
  font-size: 1.4rem;
  color: #333;
  padding: .5rem 1.5rem;
}

.review .box-container .box .content .stars i {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem .1rem;
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact .row .contact-info .box {
  margin: 4rem 2rem;
}

.contact .row .contact-info .box h3 {
  font-size: 2rem;
  color: #333;
}

.contact .row .contact-info .box h3 i {
  color: #0098a1;
}

.contact .row .contact-info .box p {
  padding-left: 3rem;
  font-size: 1.7rem;
  color: #aaa;
}

.contact .row .contact-form-container {
  width: 50%;
}

.contact .row .contact-form-container h3 {
  font-size: 4rem;
  padding-top: 4rem;
  color: #0098a1;
}

.contact .row .contact-form-container .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact .row .contact-form-container .inputBox .form-group input {
  width: 20vw;
}

.contact .row .contact-form-container .inputBox .form-group {
  position: relative;
}

.contact .row .contact-form-container .inputBox .form-group>i {
  position: absolute;
  top: 20px;
  left: 15px;
}

.contact .row .contact-form-container .inputBox .form-group>input {
  padding-left: 40px;
}

.contact .row .contact-form-container .inputBox .form-group .invalid-feedback {
  font-size: 15px;
}

.contact .row .contact-form-container #form .fa::before {
  font-size: large;
}

.contact .row .contact-form-container form input,
textarea {
  outline: none;
  border: .2rem solid;
  height: 4rem;
  background: #fff;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1.8rem;
}

.contact .row .contact-form-container #form {
  position: relative;
}

.contact .row .contact-form-container #form>i {
  position: absolute;
  top: 34vh;
  left: 15px;
}

.contact .row .contact-form-container #form textarea {
  width: 100%;
  padding-top: 10px;
  padding-left: 50px;
  resize: none;
  height: 20%;
}


.contact .row .contact-form-container form #submit {
  border: .2rem solid #0098a1;
  cursor: pointer;
  transition: .2s;
  width: 20rem;
  height: 4rem;
  margin-bottom: 10rem;
  font-size: 18px;
  font-weight: 400;
}

.contact .row .contact-form-container form #submit:hover {
  color: #fff;
  background: #0098a1;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: #222;
}


/* media queries  */

@media (max-width:991px) {

  .home {
    flex-flow: column;
    padding: 1.5rem;
  }

  .home .content {
    text-align: center;
  }

  .home .content h1 {
    font-size: 5.5rem;
  }

  .home .content p {
    font-size: 1.8rem;
    padding: 0;
    border: none;
  }

}

@media (max-width:768px) {

  html {
    font-size: 55%;
  }

  header .navbar {
    position: fixed;
    top: -100rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    z-index: 1000;
    transition: .2s linear;
    opacity: 0;
  }

  header .navbar ul {
    flex-flow: column;
  }

  header .navbar ul li {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a {
    display: block;
    font-size: 3rem;
  }

  header .nav-toggle {
    top: 5.5rem;
    opacity: 1;
  }

  .about .row {
    flex-flow: column;
  }

  .about .row .image img {
    width: 90vw;
  }

  .about .row .content {
    text-align: center;
  }

  .about .row .content .btn1 {
    margin-right: 0;
  }

  .contact .row {
    flex-flow: column;
    align-items: flex-start;
  }

  .contact .row .contact-form-container {
    width: 90%;
    margin: 0 auto;
  }

  .newsletter p {
    padding: 1rem 0;
  }

  .newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 1rem;
  }

  .footer {
    flex-flow: column;
  }

  .footer .credit {
    text-align: center;
    padding-bottom: 3rem;
  }

}

@media (max-width:500px) {

  .home .form-container {
    width: 100%;
  }

  .home .form-container form {
    width: 100%;
    margin: 3rem 0;
  }

  .home .form-container form input[type="submit"] {
    width: 100%;
  }

  .contact .row .contact-form-container form input {
    margin: 1rem 0;
    width: 100%;
  }

  .contact .row .contact-form-container form input[type="submit"] {
    width: 100%;
  }

}